  <div><nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" <%= link_to "HOME", restaurants_path  %> style=>
        <h1>Restaurants 'n' stuff</h1>
      </a>
    </div>
  </nav>
  </div>
<div class="container">
  <h1>Leave a review!</h1>
  <div>
    <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
